        <h1>Welcome to SignUp Page</h1>
        <br\>
        <%= link_to "Home Page", controller: "home_page", action: "index" %>

	<table>
		<tr>
			<td>USERNAME</td>
			<td>textbox</td>
		</tr>
		<tr>
			<td>NAME</td>
			<td>textbox</td>
		</tr>
		<tr>
			<td>PASSWORD</td>
			<td>textbox</td>
		</tr>
		<tr>
			<td>EMAILID</td>
			<td>textbox</td>
		</tr>
	</table>