<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2><font color="green"><b>Available!!!!</b></font></h2>
    <p><%= @book_name %> Book Requested by you is available</p>
    <br/><br/>
    <font size="2"> Thanks and Regards,</font><br/>
    <font size="2"> Library System.</font><br/>
  </body>
</html>