<p id="notice"><%= notice %></p>
<h1>Edit book details</h1>
<%= link_to "Back", "/admin/search/" + session[:user_name] %>
<font color="blue"><%= link_to "Logout", logout_path,method: "delete" %></font>

<%= render 'book' %>
