<p id="notice"><%= notice %></p>
<h1>Edit profile details</h1>
<%= link_to "Back", "/user/show/" + session[:user_name] %>
<font color="blue"><%= link_to "Logout", logout_path,method: "delete" %></font>

<%= render 'form' %>
